{% extends 'student_register/base.html' %} 

{% block content %}

<h2 class="text-center my-3">Student List</h2>


<div class="container text-center ">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Path</th>
                <th scope="col">Add NEW</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
    
            <tr>
                <td>{{student.full_name}}</td>
                <td>{{student.path}}</td>
                <td>
                   <a href="{% url 'update' student.id %}"><i class="fas fa-edit"></i></a>
                   <a href="{% url 'delete' student.id %}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% endblock content %}
    </div>>